# Dependencies
node_modules/

# Build output
dist/

# Environment files (Jag väljer att commita .env endast för inlämning av skoluppgiften.)
# .env

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Prisma generated client
**/generated/

# Övriga filer
*.pdf